<h1>Listing beans</h1>

<table>
  <tr>
    <th>Color</th>
    <th>Flavor</th>
    <th>From mexico</th>
    <th>Size</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @beans.each do |bean| %>
  <tr>
    <td><%= bean.color %></td>
    <td><%= bean.flavor %></td>
    <td><%= bean.from_mexico %></td>
    <td><%= bean.size %></td>
    <td><%= link_to 'Show', bean %></td>
    <td><%= link_to 'Edit', edit_bean_path(bean) %></td>
    <td><%= link_to 'Destroy', bean, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bean', new_bean_path %>
