<p id="notice"><%= notice %></p>

<p>
  <b>Color:</b>
  <%= @bean.color %>
</p>

<p>
  <b>Flavor:</b>
  <%= @bean.flavor %>
</p>

<p>
  <b>From mexico:</b>
  <%= @bean.from_mexico %>
</p>

<p>
  <b>Size:</b>
  <%= @bean.size %>
</p>


<%= link_to 'Edit', edit_bean_path(@bean) %> |
<%= link_to 'Back', beans_path %>
