= debug @page

= simple_form_for @page do |f|
  = f.input :title

  -# TODO: put the parent and slug side by side and name the new field URL
  -#       also maybe change the dropdown to an autocomplete

  =# f.input :parent_url, :collection => Cardboard::Page.preordered.all.inject(["/"]){|result, elm| result << elm.url unless elm.id == @page.id; result}, include_blank: false
  = f.input :url, hint: "It is not recommended to update the url once the site is live" do
    .input-prepend
      .add-on
        - if @page.new_record?
          = f.select :parent_url, options_for_select(@page.parent_url_options, f.object.parent_url)
        - else
          = f.object.parent_url

      = f.text_field :slug #, label: "Page Path", hint: "Changing the url is not recommended if your page is public"

  = f.input :in_menu, label: false, inline_label: "Display in main menu?"

  = f.input :seo do
    = f.simple_fields_for :meta_seo, OpenStruct.new(@page.seo) do |seo|
      - for key in [:title, :description, :keywords] | seo.object.methods(nil).grep(/[^=]$/)
        = seo.input key

    
  = f.button :submit, "Save", class:"btn-primary"
  = link_to "Cancel", cardboard_dashboard_path, class:"btn"