<h1>Listing news_posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news_posts.each do |news_post| %>
  <tr>
    <td><%= news_post.title %></td>
    <td><%= news_post.link %></td>
    <td><%= link_to 'Show', news_post %></td>
    <td><%= link_to 'Edit', edit_news_post_path(news_post) %></td>
    <td><%= link_to 'Destroy', news_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New News post', new_news_post_path %>
