<h1>Listing pianos</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pianos.each do |piano| %>
  <tr>
    <td><%= piano.name %></td>
    <td><%= piano.image %></td>
    <td><%= link_to 'Show', piano %></td>
    <td><%= link_to 'Edit', edit_piano_path(piano) %></td>
    <td><%= link_to 'Destroy', piano, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Piano', new_piano_path %>
