<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @piano.name %>
</p>

<p>
  <b>Image:</b>
  <%= @piano.image %>
</p>


<%= link_to 'Edit', edit_piano_path(@piano) %> |
<%= link_to 'Back', pianos_path %>
