<%= form_for(@icescream) do |f| %>
  <% if @icescream.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@icescream.errors.count, "error") %> prohibited this icescream from being saved:</h2>

      <ul>
      <% @icescream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :flavor %><br />
    <%= f.text_field :flavor %>
  </div>
  <div class="field">
    <%= f.label :deliciousness %><br />
    <%= f.number_field :deliciousness %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
