<h1>Listing icescreams</h1>

<table>
  <tr>
    <th>Flavor</th>
    <th>Deliciousness</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @icescreams.each do |icescream| %>
  <tr>
    <td><%= icescream.flavor %></td>
    <td><%= icescream.deliciousness %></td>
    <td><%= link_to 'Show', icescream %></td>
    <td><%= link_to 'Edit', edit_icescream_path(icescream) %></td>
    <td><%= link_to 'Destroy', icescream, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Icescream', new_icescream_path %>
